apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: beetle-

resources:
  - ../../runtime

images:
  - name: beetle
    newName: beetle
    newTag: latest

commonLabels:
  app.kubernetes.io/part-of: platform

replacements:
  # Replace config volume name
  - source:
      kind: ConfigMap
      name: beetle-config
      fieldPath: metadata.name
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.volumes.[name=config].configMap.name
