apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: beetle-

resources:
  - ../../runtime

images:
  - name: beetle
    newName: beetle
    newTag: latest

commonLabels:
  app.kubernetes.io/part-of: platform

patches:
  - target:
      kind: Deployment
      name: app
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: app
      spec:
        template:
          spec:
            volumes:
              - name: config
                configMap:
                  name: beetle-config
