apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

namePrefix: "" # overlays can add prefix if desired

commonLabels:
  app.kubernetes.io/part-of: platform
